.DS_Store
.env
backend/.env
frontend/.env
backend/vendor/
frontend/node_modules/
frontend/dist/
coverage/
*.log
.phpunit.result.cache
env.token

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
